.AvailableUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FullUserListCard {
  display: flex;
  align-items: center;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  padding: 3px 5px;
  border-radius: 10px;
}
.UserlistCard {
  width: 90%;
  margin-left: 5px;
  height: 60px;
  display: flex;
  align-items: center;
}
.nameUsername {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.UserlistCard--username {
  font-size: 17px;
  /* color : */
}
.UserlistCard--name {
  font-size: 12px;
  color: rgb(255, 255, 129);
}
.follow-button {
  border: 1px solid blue;
  color: blue;
  height: 25px;

  background-color: rgba(255, 255, 255, 0);
}
.follow-button2 {
  border: 1px solid red;
  color: red;
  background-color: rgba(255, 255, 255, 0);
  height: 25px;
}
